@page "/event/{id:int}"
@using Microsoft.AspNetCore.Authorization;
@using Newtonsoft.Json;
@using System.Net;
@attribute [Authorize(Roles = "User")]
@using TicketHive.Shared.Models;
@using TicketHive.Shared;
@using Microsoft.AspNetCore.Http;
@inject IEventRepo eventRepo;
@inject IUserRepo userRepo;
@inject IShoppingcartRepo shoppingcartRepo;
@inject ICurrencyRepo currencyRepo;
@inject NavigationManager navigationManager;

<PageTitle>Event</PageTitle>
<header class="p-5"></header>
<div class="row">
<div class=" col-6" >
        <img style="max-width: 500px" src="/Images/@chosenEvent.Image" />
</div>

<div class="col-6  ">
        <form @onsubmit="HandleSubmit">
            <h2 class="text-decoration-underline">@eventView.EventName</h2>
            <div><em>@eventView.EventDetails</em></div>
            <div><p><b>@eventView.EventPlace</b> @chosenEvent.Date.ToString("HH:mm")</p></div>
            <div><p><b>@Math.Round(eventView.PricePerTicket, 2)</b>&nbsp;@currencyRepo.GetCurrencyCode()</p></div>
        
        <div>


                @if (chosenEvent.AvailableTickets < 1)
            {
                <div>
                    <em class="text-danger">SOLD OUT!</em>
                    <input disabled="@isDisabled" type="submit" style="text-align:center" value="Add to cart" />
                    </div>
            }
            else
            {
                <input type="submit" style="text-align:center" value="Add to cart" />

                    @if (!string.IsNullOrEmpty(errorMessage))
                    {
                        <h3 class="text-danger">@errorMessage</h3>
                    }
            }
            
        </div>
       
        </form>
</div>
</div>


<style>
    p,em,h2
    {
        color: #32516E;
        
    }
    div, select{
        background-color: #FCE693;
    }
</style>


@code {
    private string errorMessage = "";
    private double exchangeRate;
    private decimal convertedPrice;
    private bool isDisabled = true;
    private string? username;
    private EventViewModel? eventView = new();
    private UserModel? eventDbUser;

    protected override async Task OnInitializedAsync()
    {
        await currencyRepo.GetExchangeRates();

        await shoppingcartRepo.CreateCart();
        eventView = await eventRepo.GetEventView(Id);
        chosenEvent = await eventRepo.GetEvent(Id);
    }

    /// <summary>
    /// Creates bookingmodel based on event and quantity and adds to the cart
    /// </summary>
    /// <returns></returns>
    private async Task AddBookingToCart()
    {
        BookingModel booking = new()
            {
                EventModelId = chosenEvent.Id,
                EventModel = chosenEvent,
                Quantity = NumberOfTickets
            };

        if (!await shoppingcartRepo.CheckIfItemExists(booking))
        {
            await shoppingcartRepo.AddToCart(booking);
            navigationManager.NavigateTo("/shoppingcart");
        }

        errorMessage = "Event already in your cart";

    }
    private async Task HandleSubmit()
    {
        await AddBookingToCart();
    }
  



}

